.typing-stats {
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.typing-stats-label {
  font-size: 0.9em;
  font-weight: 100;
}

.typing-stats-value {
  font-size: 1.25em;
  font-weight: 800;
}
