.typing-stats {
  border-radius: 20px;
  width: 100%;
  transition: 300ms ease-in-out all;
}

.typing-stats-wpm,
.typing-stats-accuracy {
  margin-bottom: 20px;
  padding: 10px;
  background: #f4f5f6;
  border-radius: 20px;
  box-shadow: 5px 5px 15px #cfd0d1, -5px -5px 15px #ffffff;
  text-align: center;
}

.typing-stats-label {
  font-size: 1.1em;
  font-weight: 100;
}

.typing-stats-value {
  font-size: 1.25em;
  font-weight: 800;
}

.typing-stats-in-progress {
  opacity: 1;
  color: #341f97;
}

.typing-stats-finished {
  color: #01a3a4;
}

.typing-stats-standby {
  opacity: 0.5;
}
