.app {
  width: 100vw;
  height: 100vh;
}

.typing-area {
  opacity: 0;
  position: absolute;
}

.highlight-correct {
  background-color: green;
}

.highlight-incorrect {
  background-color: red;
}

.highlight-finished {
  background-color: blue;
}
